<!DOCTYPE html>
<html>
	<head>
		<title>Member Tracker</title>
		<link href="css/foundation.min.css" media="screen" rel="Stylesheet" type="text/css">
		<link href="css/style.css" media="screen" rel="Stylesheet" type="text/css">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
		<link rel="apple-touch-icon-precomposed" href="/img/touch_icon.jpg" />
		<link href="/img/startup.jpg" media="(device-width: 1024px) and (orientation: landscape)" rel="apple-touch-startup-image">
		<link href="/img/startup_vert.jpg" media="(device-width: 748px) and (orientation: portrait)" rel="apple-touch-startup-image">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
		<meta name="format-detection" content="telephone=no">
	</head>

	<body>
		<section id="login_overlay">
			<div class="login default">
				<div class="logo four columns">
					<div class="gear gear_1"></div>
					<div class="gear gear_2"></div>
					<div class="gear gear_3"></div>
					<div class="logo_text">
						Member Tracker
					</div>
					<img src="/img/logo.png">
				</div>
				<div class="username_password seven columns">
					<header>Log in with your Pivotal Credentials</header>
					<input id="username" type="email" placeholder="Username or Email">
					<input id="password" type="password" placeholder="Pivotal Password">
					<span class="legal">We do not store your username or password</span>
				</div>
				<!-- <div class="api_token">
					<header>Or log in with Pivotal API Token</header>
					<input id="api_token" type="email" placeholder="Pivotal API Token">
				</div> -->
			</div>
		</section>
		<section id="status_message">
			<div class="connection_status"></div>
		</section>
		<header id="main_header">
			<div class="header_logo six columns">Member Tracker</div>
			<div id="logged_in_header" class="three columns">
				<span id="settings">Projects</span><span id="logout">Log Out</span>
			</div>
		</header>
		<section id="main">
			<div id="user_container">
				<div id="user_columns_container">
				<div id="member_names"></div>
					<div id='user_columns'></div>
				</div>
			</div>
			<div class="projects minimized"></div>
		</section>

		<section id="install">
			<img src="/img/touch_install.png">
			Install web app on your home screen for full-screen experience
		</section>
		<div id="getsat-widget-5941"></div>
		<script type="text/javascript">
			// Start of Google Analytics Code
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || 
					function() {
						(i[r].q = i[r].q || [] ).push(arguments)
					},
					i[r].l = 1 * new Date(); 
					a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
					a.async = 1;
					a.src = g;
					m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-39423507-1', 'membertracker.co');
			ga('send', 'pageview');
			// End of Google Analytics Code
		</script>


		<script src="js/jquery.js"></script>
		<script src="js/libs/handlebars.js"></script>
		<script src="js/functions.js"></script>
		<script src="js/scripts.js"></script>
		<script src="js/events.js"></script>
		
		<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
		<script type="text/javascript">
			if (typeof GSFN !== "undefined") { 
				GSFN.loadWidget(5941, {"containerId":"getsat-widget-5941"});
			}
		</script>
	</body>
</html>


