<!DOCTYPE html>
<html>
	<head>
		<link href="css/foundation.min.css" media="screen" rel="Stylesheet" type="text/css">
		<link href="css/style.css" media="screen" rel="Stylesheet" type="text/css">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	</head>

	<body>
		<section id="login_overlay">
			<div class="login default">
				<div class="logo four columns">
					<div class="gear gear_1"></div>
					<div class="gear gear_2"></div>
					<div class="gear gear_3"></div>
					<div class="logo_text">
						Pivotal Members
					</div>
					<img src="/img/logo.png">
				</div>
				<div class="username_password seven columns">
					<header>Log in with your Pivotal Credentials</header>
					<input id="username" type="email" placeholder="Username or Email">
					<input id="password" type="password" placeholder="Pivotal Password">
					<span class="legal">We do not store your username or password</span>
				</div>
				<!-- <div class="api_token">
					<header>Or log in with Pivotal API Token</header>
					<input id="api_token" type="email" placeholder="Pivotal API Token">
				</div> -->
			</div>
		</section>
		<section id="status_message">
			<div class="connection_status"></div>
		</section>

		<section id="main">
			<div id="user_container" class="nine columns maximized">
				<header id="main_header">
					<div class="header_logo three columns">Pivotal Members</div>
					<div id="logged_in_header" class="three columns">
						<span id="settings">Projects</span><span id="logout">Log Out</span>
					</div>
				</header>
				<div id="user_columns_container">
					<div id='user_columns'></div>
				</div>
			</div>
			<div class="projects three columns minimized"></div>
		</section>



		<script src="js/jquery.js"></script>
		<script src="js/libs/handlebars.js"></script>
		<script src="js/functions.js"></script>
		<script src="js/scripts.js"></script>
		<script src="js/events.js"></script>
		<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-39423507-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

		</script>
	</body>
</html>


