<!DOCTYPE html>
<html>
	<head>
		<link href="css/foundation.min.css" media="screen" rel="Stylesheet" type="text/css">
		<link href="css/style.css" media="screen" rel="Stylesheet" type="text/css">
	</head>

	<body>
		<section id="login_overlay">
			<div class="login default">
				<div class="username_password">
					<header>Log in with your Pivotal Credentials</header>
					<input id="username" type="email" placeholder="Username or Email">
					<input id="password" type="password" placeholder="Pivotal Password">
					<span class="legal">We do not store your username or password</span>
				</div>
				<div class="api_token">
					<header>Or log in with Pivotal API Token</header>
					<input id="api_token" type="email" placeholder="Pivotal API Token">
				</div>
			</div>
		</section>
		<section id="status_message">
			<div class="connection_status"></div>
		</section>

		<section id="main">
			<div id="user_container" class="nine columns maximized">
				<header id="main_header">
					<div class="logo three columns">Pivotal Members</div>
					<div id="logged_in_header" class="two columns">
						<span id="settings">Projects</span><span id="logout">Log Out</span>
					</div>
				</header>
				<div id="user_columns_container">
					<div id='user_columns'></div>
				</div>
			</div>
			<div class="projects three columns minimized"></div>
		</section>



		<script src="js/jquery.js"></script>
		<script src="js/libs/handlebars.js"></script>
		<script src="js/functions.js"></script>
		<script src="js/scripts.js"></script>
		<script src="js/events.js"></script>
	</body>
</html>
