@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-o-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotate_cc {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-359deg);
    -moz-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

@-moz-keyframes rotate_cc {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-359deg);
    -moz-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

@-ms-keyframes rotate_cc {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-359deg);
    -moz-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

@-o-keyframes rotate_cc {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-359deg);
    -moz-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

@keyframes rotate_cc {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-359deg);
    -moz-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

* {
  box-sizing: border-box;
  position: relative;
}

body {
  background: #383838;
}

input.failure {
  background: #facccc;
}

.projects {
  position: fixed;
  right: 0px;
  top: 30px;
  bottom: 0;
  overflow: auto;
  padding: 5px;
  z-index: 5;
  background: #464646;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
.projects.minimized {
  width: 0%;
  padding: 0;
  overflow: auto;
}
.projects .project {
  min-width: 250px;
  height: 150px;
  padding: 5px 5px 20px;
  margin: 2px 0 2px;
  background: #333;
  border: 1px solid #555555;
  display: block;
  position: relative;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.projects .project:hover {
  background: #454545;
  cursor: pointer;
}
.projects .project.active {
  background: #454545;
  cursor: pointer;
}
.projects .project.selected {
  background: #272727;
  cursor: pointer;
}
.projects .project header {
  padding: 5px;
  font-size: 20px;
  line-height: 20px;
  border-bottom: 1px solid #444444;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}
.projects .project .info {
  width: 50%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  display: block;
  float: left;
}
.projects .project .info .key {
  font-size: 13px;
  cursor: pointer;
  color: #999;
}
.projects .project .info .value {
  font-size: 32px;
  display: block;
  cursor: pointer;
}

#login_overlay {
  z-index: 8;
  width: 0;
  height: 0;
  margin: 0 auto;
}
#login_overlay .login {
  color: #fff;
  width: 486px;
  display: block;
  position: absolute;
  padding: 15px;
  top: 150px;
  left: -243px;
  background: rgba(0, 0, 0, 0.4);
  border: 10px solid rgba(255, 255, 255, 0.15);
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
  border-radius: 3px;
}
#login_overlay .login .logo .logo_text {
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 88px;
}
@media screen and (max-width: 723px) {
  #login_overlay .login .logo .logo_text {
    font-size: 46px;
    line-height: 39px;
    text-align: left;
    top: 30px;
    left: 193px;
    width: 150px;
  }
}
#login_overlay .login .logo .gear {
  width: 78px;
  height: 78px;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: rotate 20s infinite linear;
  -moz-animation: rotate 20s infinite linear;
  -ms-animation: rotate 20s infinite linear;
  -o-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
}
#login_overlay .login .logo .gear.gear_1 {
  background: url(/img/gear_1.png);
  background-size: 100% 100%;
  z-index: 5;
  top: 5%;
  left: 11%;
}
#login_overlay .login .logo .gear.gear_2 {
  background: url(/img/gear_2.png);
  background-size: 100% 100%;
  z-index: 6;
  top: 11%;
  left: 37%;
  -webkit-animation: rotate_cc 15s infinite linear;
  -moz-animation: rotate_cc 15s infinite linear;
  -ms-animation: rotate_cc 15s infinite linear;
  -o-animation: rotate_cc 15s infinite linear;
  animation: rotate_cc 15s infinite linear;
}
#login_overlay .login .logo .gear.gear_3 {
  background: url(/img/gear_3.png);
  background-size: 100% 100%;
  z-index: 4;
  top: -1%;
  left: 44%;
  -webkit-animation: rotate_cc 10s infinite linear;
  -moz-animation: rotate_cc 10s infinite linear;
  -ms-animation: rotate_cc 10s infinite linear;
  -o-animation: rotate_cc 10s infinite linear;
  animation: rotate_cc 10s infinite linear;
}
@media screen and (max-width: 723px) {
  #login_overlay .login .logo .gear {
    width: 105px;
    height: 105px;
  }
  #login_overlay .login .logo .gear.gear_1 {
    left: 3%;
  }
  #login_overlay .login .logo .gear.gear_2 {
    left: 14%;
    top: 14%;
  }
  #login_overlay .login .logo .gear.gear_3 {
    left: 20%;
  }
}
#login_overlay .login .logo img {
  opacity: 0;
}
@media screen and (max-width: 723px) {
  #login_overlay .login .logo img {
    height: 131px;
  }
}
#login_overlay .login header {
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: bold;
}
#login_overlay .login .legal {
  text-align: center;
  font-size: 10px;
  color: #999;
  top: -8px;
  display: block;
}
#login_overlay .login .api_token input {
  margin-bottom: 0;
}
#login_overlay .login.logged_in {
  top: -250px;
}
#login_overlay .login.default {
  top: -250px;
}

#status_message {
  z-index: 8;
  width: 0;
  height: 0;
  margin: 0 auto;
}
#status_message .connection_status {
  display: block;
  position: absolute;
  top: 0;
  left: -175px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 350px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  padding-top: 6px;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  border-radius: 0 0 3px 3px;
}
#status_message .connection_status:empty {
  top: -30px;
}

header#main_header {
  height: 30px;
  color: #c8c8c8;
  font-size: 15px;
  padding: 4px 10px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  background: #555555;
  z-index: 6;
}
header#main_header .header_logo {
  padding-left: 20px;
  font-size: 22px;
  background: url("/img/favicon.png") no-repeat left;
  cursor: default;
  display: none;
}
header#main_header .header_logo.logged_in {
  display: block;
}
header#main_header #logged_in_header {
  display: none;
  margin-top: 3px;
}
header#main_header #logged_in_header span {
  cursor: pointer;
  float: right;
  display: block;
  padding: 0 5px;
}
header#main_header #logged_in_header.logged_in {
  display: block;
}

#member_names {
  top: 30px;
  width: 5000px;
  opacity: .9;
  position: absolute;
  z-index: 5;
  background: #444;
  box-shadow: 0 0 5px #222222;
}
#member_names .member_column {
  width: 250px;
  display: none;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.1);
  margin: 1px;
  padding: 2px 5px;
  margin: 2px 1px 2px;
  border: 1px solid #555555;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 17px;
}
#member_names .member_column.active {
  display: inline-block;
}
#member_names .member_column:last-of-type {
  float: none;
}

#user_columns {
  display: none;
  width: 5000px;
}
#user_columns .user_column {
  padding-top: 55px;
  width: 250px;
  display: none;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.1);
  margin: 1px;
}
#user_columns .user_column.active {
  display: inline-block;
}
#user_columns .user_column:last-of-type {
  float: none;
}
#user_columns .user_column header {
  text-align: center;
  font-size: 22px;
  color: #efefef;
  width: 100%;
}
#user_columns .user_column .user_stories .user_story {
  padding: 5px 5px 20px;
  margin: 2px 0 2px;
  background: #fff;
  border: 1px solid #efefef;
  display: block;
  position: relative;
  font-size: 12px;
  display: none;
}
#user_columns .user_column .user_stories .user_story .personal_velocity {
  float: right;
  padding-right: 20px;
}
#user_columns .user_column .user_stories .user_story footer {
  font-size: 10px;
  background: rgba(255, 255, 255, 0.4);
  color: #999;
  position: absolute;
  bottom: 0;
  height: 15px;
  padding: 2px;
  width: 100%;
  left: 0;
}
#user_columns .user_column .user_stories .user_story[type="week_indicator"] {
  width: 256px;
  left: -4px;
  border: 0;
  background: #7c7c7c;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
}
#user_columns .user_column .user_stories .user_story[status="accepted"] {
  font-size: 11px;
  background: #d6ffd6;
  border: 1px solid #99ff99;
}
#user_columns .user_column .user_stories .user_story[status="rejected"] {
  background: #ffe5e5;
}
#user_columns .user_column .user_stories .user_story[status="delivered"] {
  background: #e5ffe5;
}
#user_columns .user_column .user_stories .user_story[status="finished"] {
  background: #ffff99;
}
#user_columns .user_column .user_stories .user_story[status="started"] {
  background: #ffffe5;
}
#user_columns .user_column .user_stories .user_story[status="unstarted"] {
  opacity: .5;
  background: #999;
  color: #fff;
}
#user_columns .user_column .user_stories .user_story[difficulty="1"] {
  min-height: 50px;
}
#user_columns .user_column .user_stories .user_story[difficulty="2"] {
  min-height: 75px;
}
#user_columns .user_column .user_stories .user_story[difficulty="3"] {
  min-height: 95px;
}
#user_columns .user_column .user_stories .user_story[difficulty="4"] {
  min-height: 115px;
}
#user_columns .user_column .user_stories .user_story[difficulty="5"] {
  min-height: 135px;
}
#user_columns .user_column .user_stories .user_story[difficulty="6"] {
  min-height: 155px;
}
#user_columns .user_column .user_stories .user_story[difficulty="7"] {
  min-height: 175px;
}
#user_columns .user_column .user_stories .user_story[difficulty="8"] {
  min-height: 220px;
}
#user_columns .user_column .user_stories .user_story.displayed {
  display: block;
}

#install {
  display: block;
  position: fixed;
  z-index: 8;
  width: 207px;
  background: #555;
  border: 2px solid #777777;
  border-radius: 3px;
  top: 16px;
  left: 40px;
  padding: 5px 5px 5px 71px;
  color: #fff;
  font-weight: bold;
  display: none;
}
#install:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #555555;
  position: absolute;
  top: -19px;
  left: 150px;
}
#install:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #777777;
  position: absolute;
  top: -22px;
  left: 150px;
}
#install img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 56px;
  box-shadow: 0 0 6px black;
  border-radius: 6px;
}
