* {
  box-sizing: border-box;
  position: relative;
}

body {
  background: #383838;
}

input.failure {
  background: #facccc;
}

#main {
  min-height: 620px;
  position: relative;
}

#user_container {
  height: 620px;
  overflow-x: auto;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
#user_container.maximized {
  width: 100%;
}

.projects {
  height: 620px;
  padding: 5px;
  background: #464646;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
.projects.minimized {
  width: 0%;
  padding: 0;
  overflow: auto;
}
.projects .project {
  min-width: 250px;
  height: 150px;
  padding: 5px 5px 20px;
  margin: 2px 0 2px;
  background: #333;
  border: 1px solid #555555;
  display: block;
  position: relative;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.projects .project:hover {
  background: #454545;
  cursor: pointer;
}
.projects .project.active {
  background: #454545;
  cursor: pointer;
}
.projects .project header {
  padding: 5px;
  font-size: 20px;
  line-height: 20px;
  border-bottom: 1px solid #444444;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}
.projects .project .info {
  width: 50%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  display: block;
  float: left;
}
.projects .project .info .key {
  font-size: 13px;
  cursor: pointer;
  color: #999;
}
.projects .project .info .value {
  font-size: 32px;
  display: block;
  cursor: pointer;
}

#login_overlay {
  z-index: 4;
  width: 0;
  height: 0;
  margin: 0 auto;
}
#login_overlay .login {
  color: #fff;
  width: 486px;
  display: block;
  position: absolute;
  padding: 15px;
  top: 150px;
  left: -243px;
  background: rgba(0, 0, 0, 0.4);
  border: 10px solid rgba(255, 255, 255, 0.15);
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
  border-radius: 3px;
}
#login_overlay .login header {
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: bold;
}
#login_overlay .login .legal {
  text-align: center;
  font-size: 10px;
  color: #999;
  top: -8px;
  display: block;
}
#login_overlay .login .api_token input {
  margin-bottom: 0;
}
#login_overlay .login.logged_in {
  top: -250px;
}
#login_overlay .login.default {
  top: -250px;
}

#status_message {
  z-index: 3;
  width: 0;
  height: 0;
  margin: 0 auto;
}
#status_message .connection_status {
  display: block;
  position: absolute;
  top: 0;
  left: -175px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 350px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  padding-top: 6px;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  border-radius: 0 0 3px 3px;
}
#status_message .connection_status:empty {
  top: -30px;
}

header#main_header {
  height: 30px;
  color: #c8c8c8;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: bold;
}
header#main_header #logged_in_header {
  display: none;
}
header#main_header #logged_in_header span {
  cursor: pointer;
  float: right;
  display: block;
  padding: 0 5px;
}
header#main_header #logged_in_header.logged_in {
  display: block;
}

#user_columns_container {
  overflow-x: auto;
  width: 100%;
}

#user_columns {
  display: none;
  width: 5000px;
  height: 630px;
}
#user_columns .user_column {
  width: 250px;
  display: none;
  vertical-align: top;
  min-height: 630px;
  background: rgba(255, 255, 255, 0.1);
  margin: 1px;
}
#user_columns .user_column.active {
  display: inline-block;
}
#user_columns .user_column:last-of-type {
  float: none;
}
#user_columns .user_column header {
  text-align: center;
  font-size: 22px;
  color: #efefef;
  width: 100%;
}
#user_columns .user_column .user_stories .user_story {
  padding: 5px 5px 20px;
  margin: 2px 0 2px;
  background: #fff;
  border: 1px solid #efefef;
  display: block;
  position: relative;
}
#user_columns .user_column .user_stories .user_story footer {
  font-size: 10px;
  background: rgba(255, 255, 255, 0.4);
  color: #999;
  position: absolute;
  bottom: 0;
  height: 15px;
  padding: 2px;
  width: 100%;
  left: 0;
}
#user_columns .user_column .user_stories .user_story[status="accepted"] {
  font-size: 12px;
  background: #d6ffd6;
  border: 1px solid #99ff99;
  display: none;
}
#user_columns .user_column .user_stories .user_story[status="accepted"].displayed {
  display: block;
}
#user_columns .user_column .user_stories .user_story[status="rejected"] {
  background: #ffe5e5;
}
#user_columns .user_column .user_stories .user_story[status="delivered"] {
  background: #e5ffe5;
}
#user_columns .user_column .user_stories .user_story[status="finished"] {
  background: #ffff99;
}
#user_columns .user_column .user_stories .user_story[status="started"] {
  background: #ffffe5;
}
#user_columns .user_column .user_stories .user_story[status="unstarted"] {
  opacity: .5;
  background: #999;
  color: #fff;
}
#user_columns .user_column .user_stories .user_story[difficulty="1"] {
  min-height: 35px;
}
#user_columns .user_column .user_stories .user_story[difficulty="2"] {
  min-height: 50px;
}
#user_columns .user_column .user_stories .user_story[difficulty="3"] {
  min-height: 75px;
}
#user_columns .user_column .user_stories .user_story[difficulty="4"] {
  min-height: 90px;
}
#user_columns .user_column .user_stories .user_story[difficulty="5"] {
  min-height: 110px;
}
#user_columns .user_column .user_stories .user_story[difficulty="6"] {
  min-height: 140px;
}
#user_columns .user_column .user_stories .user_story[difficulty="7"] {
  min-height: 180px;
}
#user_columns .user_column .user_stories .user_story[difficulty="8"] {
  min-height: 220px;
}
