@import "compass/css3";

* {
            box-sizing: border-box;
            position: relative;
}

body {
    background: rgba(56,56,56,1);
}

input {
    &.failure {
        background: rgb(250, 204, 204);
    }
}

#main {
    min-height: 620px;
    position: relative;
}
#user_container {
    height:620px;
    overflow-x: auto;
    @include transition(width .5s);
    &.maximized {
        width:100%;
    }
}
.projects {
    height:620px;
    padding:5px;
    background: rgba(70,70,70,1);
    @include transition(width .5s);
    &.minimized {
        width:0%;
        padding:0;
        overflow: auto;
    }
    .project {
        min-width:250px;
        height:150px;
        padding:5px 5px 20px;
        margin: 2px 0 2px;
        background: #333;
        border:1px solid #555;
        display: block;
        position: relative;
        color: #fff;
        cursor: pointer;
        @include transition(background .2s);
        &:hover {
            background: #454545;
            cursor: pointer;
        }
        &.active {
            background: #454545;
            cursor: pointer;
        }
        header {
            padding:5px;
            font-size: 20px;
            line-height: 20px;
            border-bottom:  1px solid #444;
            font-weight: bold;
            margin-bottom: 5px;
            cursor: pointer;
        }
        .info {
            width:50%;
            height:50px;
            text-align: center;
            cursor: pointer;
            display: block;
            float: left;
            .key {
                font-size: 13px;
                cursor: pointer;
                color: #999;
            }
            .value {
                font-size:32px;
                display: block;
                cursor: pointer;
            }
        }
    }
}

#login_overlay {
    z-index: 4;
    width:0;
    height:0;
    margin:0 auto;
    .login {
        color: #fff;
        width:486px;
        display: block;
        position: absolute;
        padding:15px;
        top:150px;
        left:-243px;
        background: rgba(0,0,0,.4);
        border:10px solid rgba(255,255,255,.15);
        @include transition(top .5s);
        border-radius: 3px;
        header {
            font-size: 15px;
            margin-bottom: 6px;
            font-weight: bold;
        }
        .legal {
             text-align: center;
            font-size: 10px;
            color: #999;
            top:-8px;
            display: block;
        }
        .api_token {
            input {
                margin-bottom: 0;
            }
        }
        &.logged_in {
            top:-250px;
        }
        &.default {
            top:-250px;
        }
    }
}

#status_message {
    z-index: 3;
    width:0;
    height:0;
    margin:0 auto;
    .connection_status{
        display: block;
        position: absolute;
        top:0;
        left:-175px;
        background: rgba(0,0,0,.4);
        color: #fff;
        width:350px;
        height:30px;
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        padding-top:6px;
        border-left:1px solid #444;
        border-right:1px solid #444;
        border-bottom:1px solid #444;
        @include transition(top .3s);
        border-radius: 0 0 3px 3px;
        &:empty {
            top:-30px;
        }
    }
}

header#main_header {
    height: 30px;
    color: rgb(200,200,200);
    font-size: 15px;
    padding:7px 10px;
    font-weight: bold;
    #logged_in_header {
        display: none;
        span {
            cursor: pointer;
            float: right;
            display: block;
            padding:0 5px;
        }
        &.logged_in {
            display: block;
        }
    }
}

#user_columns_container {
    overflow-x: auto;
    width:100%;
}
#user_columns {
    display: none;
    width: 5000px;
    height: 630px;
    .user_column {
        width:250px;
        display: none;
        vertical-align:top;
        min-height:630px;
        background:rgba(255,255,255,.1);
        margin:3px;
        &.active {
            display: inline-block;
        }
        &:last-of-type {
            float: none;
        }
        header {
            text-align: center;
            font-size: 22px;
            color: #efefef;
            width: 100%;
        }
        .user_stories {
            .user_story {
                padding:5px 5px 20px;
                margin: 2px 0 2px;
                background: #fff;
                border:1px solid #efefef;
                display: block;
                position: relative;
                footer {
                    font-size: 10px;
                    background: rgba(255,255,255,.4);
                    color: #999;
                    position: absolute;
                    bottom: 0;
                    height: 15px;
                    padding:2px;
                    width: 100%;
                    left:0;
                }
                &[status="accepted"] {
                    font-size: 12px;
                    background: lighten(#00ff00, 42%);
                    border:1px solid lighten(#00ff00, 30%);
                    display: none;
                    &.displayed {
                        display: block;
                    }
                }
                &[status="rejected"] {
                    background: lighten(#ff0000, 45%);
                }
                &[status="delivered"] {
                    background: lighten(#00ff00, 45%);
                }
                &[status="finished"] {
                    background: lighten(#ffff00, 30%);
                }
                &[status="started"] {
                    background: lighten(#ffff00, 45%);
                }
                &[status="unstarted"] {
                    opacity: .5;
                    background: #999;
                    color:#fff;
                }
                &[difficulty="1"] {
                    min-height: 35px;
                }
                &[difficulty="2"] {
                    min-height: 50px;
                }
                &[difficulty="3"] {
                    min-height: 75px;
                }
                &[difficulty="4"] {
                    min-height: 90px;
                }
                &[difficulty="5"] {
                    min-height: 110px;
                }
                &[difficulty="6"] {
                    min-height: 140px;
                }
                &[difficulty="7"] {
                    min-height: 180px;
                }
                &[difficulty="8"] {
                    min-height: 220px;
                }

            }
        }
    }
}


































