@import "compass/css3";

@-webkit-keyframes rotate {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(359deg));}
}
@-moz-keyframes rotate {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(359deg));}
}
@-ms-keyframes rotate {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(359deg));}
}
@-o-keyframes rotate {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(359deg));}
}
@keyframes rotate {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(359deg));}
}

@-webkit-keyframes rotate_cc {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(-359deg));}
}
@-moz-keyframes rotate_cc {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(-359deg));}
}
@-ms-keyframes rotate_cc {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(-359deg));}
}
@-o-keyframes rotate_cc {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(-359deg));}
}
@keyframes rotate_cc {
    0% {@include transform(rotate(0deg));}
    100% {@include transform(rotate(-359deg));}
}

* {
            box-sizing: border-box;
            position: relative;
}

html {
    @media screen and (max-width: 767px) {
        height: 100%;
    }
}
body {
    background: rgba(56,56,56,1);
    @media screen and (max-width: 767px) {
        height: 100%;
    }
}

input {
    &.failure {
        background: rgb(250, 204, 204);
    }
}


.projects {
    position: fixed;
    right: 0px;
    top: 30px;
    bottom:0;
    overflow: auto;
    padding:5px;
    z-index: 5;
    background: rgba(70,70,70,1);
    @include transition(width .5s);
    &.minimized {
        width:0%;
        padding:0;
        overflow: auto;
    }
    .project {
        min-width:250px;
        height:150px;
        padding:5px 5px 20px;
        margin: 2px 0 2px;
        background: #333;
        border:1px solid #555;
        display: block;
        position: relative;
        color: #fff;
        cursor: pointer;
        @include transition(background .2s);
        &:hover {
            background: #454545;
            cursor: pointer;
        }
        &.active {
            background: #454545;
            cursor: pointer;
        }
        &.selected {
            background: rgb(39,39,39);
            cursor: pointer;
        }
        header {
            padding:5px;
            font-size: 20px;
            line-height: 20px;
            border-bottom:  1px solid #444;
            font-weight: bold;
            margin-bottom: 5px;
            cursor: pointer;
        }
        .info {
            width:50%;
            height:50px;
            text-align: center;
            cursor: pointer;
            display: block;
            float: left;
            .key {
                font-size: 13px;
                cursor: pointer;
                color: #999;
            }
            .value {
                font-size:32px;
                display: block;
                cursor: pointer;
            }
        }
    }
}

#login_overlay {
    z-index: 8;
    width:0;
    height:0;
    margin:0 auto;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    .login {
        color: #fff;
        width:486px;
        display: block;
        position: absolute;
        padding:15px;
        top:150px;
        left:-243px;
        background: rgba(0,0,0,.4);
        border:10px solid rgba(255,255,255,.15);
        @include transition(top .5s);
        border-radius: 3px;
        @media screen and (max-width: 767px) {
            width:auto;
            position: relative;
            top:auto;
            left:auto;
            background: transparent;
            border: transparent;
            padding-top:68px;   
        }
        .logo {
            @media screen and (max-width: 767px) {
                width: 175px !important;
                margin: 0 auto;
            }
            .logo_text {
                font-size: 32px;
                line-height: 30px;
                text-align: center;
                position: absolute;
                top:88px;
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
            .gear {
                width:78px;
                height:78px;
                position: absolute;
                border-radius: 50%;
                -webkit-animation: rotate 20s infinite linear;
                -moz-animation: rotate 20s infinite linear;
                -ms-animation: rotate 20s infinite linear;
                -o-animation: rotate 20s infinite linear;
                animation: rotate 20s infinite linear;
                &.gear_1{
                    background: url(/img/gear_1.png);
                    background-size: 100% 100%;
                    z-index: 5;
                    top:5%;
                    left:11%;
                }
                &.gear_2{
                    background: url(/img/gear_2.png);
                    background-size: 100% 100%;
                    z-index: 6;
                    top:11%;
                    left:37%;
                    -webkit-animation: rotate_cc 15s infinite linear;
                    -moz-animation: rotate_cc 15s infinite linear;
                    -ms-animation: rotate_cc 15s infinite linear;
                    -o-animation: rotate_cc 15s infinite linear;
                    animation: rotate_cc 15s infinite linear;
                }
                &.gear_3{
                    background: url(/img/gear_3.png);
                    background-size: 100% 100%;
                    z-index: 4;
                    top:-1%;
                    left:44%;
                    -webkit-animation: rotate_cc 10s infinite linear;
                    -moz-animation: rotate_cc 10s infinite linear;
                    -ms-animation: rotate_cc 10s infinite linear;
                    -o-animation: rotate_cc 10s infinite linear;
                    animation: rotate_cc 10s infinite linear;
                }
                 @media screen and (max-width: 767px) {
                    width:105px;
                    height:105px;
                     &.gear_1{
                        left:3%;
                    }
                    &.gear_2{
                        left:26%;
                        top:22%;
                    }
                    &.gear_3{
                        left:44%;
                    }
                }
            }
            img {
                opacity: 0;
                @media screen and (max-width: 767px) {
                    height:131px;
                }
            }
        }
        header {
            font-size: 15px;
            margin-bottom: 6px;
            font-weight: bold;
        }
        .legal {
             text-align: center;
            font-size: 10px;
            color: #999;
            top:-8px;
            display: block;
        }
        .api_token {
            input {
                margin-bottom: 0;
            }
        }
        &.logged_in {
            top:-1000px;
        }
        &.default {
            top:-1000px;
        }
    }
}

#status_message {
    z-index: 8;
    width:0;
    height:0;
    margin:0 auto;
    .connection_status{
        display: block;
        position: absolute;
        top:0;
        left:-175px;
        background: rgba(0,0,0,.4);
        color: #fff;
        width:350px;
        height:30px;
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        padding-top:6px;
        border-left:1px solid #444;
        border-right:1px solid #444;
        border-bottom:1px solid #444;
        @include transition(top .3s);
        border-radius: 0 0 3px 3px;
        &:empty {
            top:-30px;
        }
    }
}

header#main_header {
    height: 30px;
    color: rgb(200,200,200);
    font-size: 15px;
    padding:4px 10px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    background: #555555;
    z-index: 6;
    .header_logo {
        padding-left:20px;
        font-size: 22px;
        line-height: 22px;
        background: url('/img/favicon.png') no-repeat left;
        cursor: default;
        display: none;
        &.logged_in {
            display: block;
        }
        @media screen and (max-width: 767px) {
            width: 50% !important;
            float:left;
            line-height: 22px;
            font-size: 14px;
            display: block;
        }
    }
    #logged_in_header {
        display: none;
        margin-top: 3px;
        span {
            cursor: pointer;
            float: right;
            display: block;
            padding:0 5px;
        }
        &.logged_in {
            display: block;
        }
        @media screen and (max-width: 767px) {
            width: 50% !important;
            float:left;
            span {
                font-size: 14px;
            }
        }
    }
}
#member_names {
    top:30px;
    width: 5000px;
    opacity: .9;
    position: absolute;
    z-index: 5;
    background: #444;
    box-shadow: 0 0 5px #222;
    .member_column {
        width:320px;
        display: none;
        vertical-align:top;
        background:rgba(255,255,255,.1);
        margin:1px;
        padding:2px 5px;
        margin: 2px 1px 2px;
        border:1px solid #555;
        position: relative;
        color: #fff;
        text-align: center;
        font-size: 17px;
        &.active {
            display: inline-block;
        }
        &:last-of-type {
            float: none;
        }
    }
}

#user_columns {
    display: none;
    width: 5000px;
    .user_column {
        padding-top:55px;
        width:320px;
        display: none;
        vertical-align:top;
        background:rgba(255,255,255,.1);
        margin:1px;
        &.active {
            display: inline-block;
        }
        &:last-of-type {
            float: none;
        }
        header {
            text-align: center;
            font-size: 22px;
            color: #efefef;
            width: 100%;
        }
        .user_stories {
            .user_story {
                padding:5px 5px 20px;
                margin: 2px 0 2px;
                background: #fff;
                border:1px solid #efefef;
                display: block;
                position: relative;
                font-size: 12px;
                display: none;
                .personal_velocity {
                    float: right;
                    padding-right:20px;
                }
                footer {
                    font-size: 10px;
                    background: rgba(255,255,255,.4);
                    color: #999;
                    position: absolute;
                    bottom: 0;
                    height: 15px;
                    padding:2px;
                    width: 100%;
                    left:0;
                }
                &[type="week_indicator"] {
                    width: 326px;
                    left: -4px;
                    border: 0;
                    background: rgb(124, 124, 124);
                    padding: 5px;
                    color: #fff;
                    cursor: pointer;
                    display: block;
                }
                &[status="accepted"] {
                    font-size: 11px;
                    background: lighten(#00ff00, 42%);
                    border:1px solid lighten(#00ff00, 30%);
                }
                &[status="rejected"] {
                    background: lighten(#ff0000, 45%);
                }
                &[status="delivered"] {
                    background: lighten(#00ff00, 45%);
                }
                &[status="finished"] {
                    background: lighten(#ffff00, 30%);
                }
                &[status="started"] {
                    background: lighten(#ffff00, 45%);
                }
                &[status="unstarted"] {
                    opacity: .5;
                    background: #999;
                    color:#fff;
                }
                &[difficulty="1"] {
                    min-height: 50px;
                }
                &[difficulty="2"] {
                    min-height: 75px;
                }
                &[difficulty="3"] {
                    min-height: 95px;
                }
                &[difficulty="4"] {
                    min-height: 115px;
                }
                &[difficulty="5"] {
                    min-height: 135px;
                }
                &[difficulty="6"] {
                    min-height: 155px;
                }
                &[difficulty="7"] {
                    min-height: 175px;
                }
                &[difficulty="8"] {
                    min-height: 220px;
                }
                &.displayed {
                    display: block;
                }
            }
        }
    }
}

#install {
    display: block;
    position: fixed;
    z-index: 8;
    width: 207px;
    background: #555;
    border: 2px solid #777;
    border-radius: 3px;
    top: 16px;
    left: 40px;
    padding: 5px 5px 5px 71px;
    color: #fff;
    font-weight: bold;
    display: none;
    &:after {
        display: block;
        content: '';
        width:0;
        height:0;
        border: 10px solid transparent;
        border-bottom:10px solid #555;
        position: absolute;
        top: -19px;
        left:150px;
    }
    &:before {
        display: block;
        content: '';
        width:0;
        height:0;
        border: 10px solid transparent;
        border-bottom:10px solid #777;
        position: absolute;
        top: -22px;
        left:150px;
    }
    img {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 56px;
        box-shadow: 0 0 6px #000;
        border-radius: 6px;
    }
}
































